.allGames-section1 {
	margin-bottom: 100px;
}

.allGames-section2 {
	max-width: 1270px;
}

.allGames-section2-title {
	font-weight: 700;
	font-size: 40px;
	text-align: center;
	margin-bottom: 20px;
}

.allGames-section2-description p {
	text-align: center;
	font-weight: 500;
	font-size: 20px;
}

.allGames-section2-projects-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	margin: 100px 0 130px;
}

.allGames-section2-technology {
	display: flex;
	flex-direction: column;
}

.allGames-section2-technology-title {
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	margin-bottom: 74px;
}

.allGames-section2-technology-containers {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 130px;
}

.allGames-section2-technology-container {
	display: flex;
	flex-direction: column;
	height: 172px;
	justify-content: space-between;
}

.allGames-section2-technology-container p {
	font-weight: 700;
	font-size: 24px;
	text-align: center;
}

.sql {
	margin-top: 50px;
}

.allGames-section2-contacts {
	height: 252px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 2px solid rgba(0, 0, 0, 0.05);
}

.allGames-social-icons a {
	margin-right: 50px;
}
.allGames-social-icons a:last-child {
	margin-right: 0px;
}

.allGames-social-icons a img {
	min-width: 50px;
	min-height: 50px;
}

.allGames-section2-contacts-address,
.allGames-section2-contacts-email {
	font-weight: 500;
	font-size: 20px;
}
