/* =========Сброс стилей============ */
/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
	outline: red dashed 1px;
	font-family: "Montserrat", sans-serif;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
	padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	color: #303030;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
	list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
	max-width: 100%;
	display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
	/* margin-top: 1em; */
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
	font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
/* ================================================================================ */

/*==============================Главная страница ===================================*/
header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 320px;
	/* padding: 10px; */
}

.header-logo {
	color: #008ede;
	font-size: 24px;
	font-weight: 800;
	margin: 30px 0 35px;
}

.header-nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.header-nav ul li {
	margin-right: 50px;
}

.header-nav ul li:nth-child(2) {
	display: flex;
	align-items: center;
}

.showMore {
	cursor: pointer;
	width: 13px;
	height: 10px;
	margin-left: 7px;
}

.header-nav ul li:last-child {
	margin-right: 0px;
}

.header-nav ul li a {
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
}

.header-nav ul li a:hover {
	color: #959090;
}

.header-phone {
	color: #008ede;
	font-size: 18px;
	font-weight: 700;
}

.header-social-icons {
	display: flex;
	justify-content: center;
}

.header-social-icons a {
	margin-right: 10px;
}
.header-social-icons a:last-child {
	margin-right: 0px;
}

.header-social-icons img {
	width: 25px;
	height: 25px;
}

@media (max-width: 1750px) {
	header {
		padding: 0 120px;
	}
}

@media (max-width: 1440px) {
	.header-nav ul li {
		margin-right: 0px;
	}
}

/* Responsive */
@media (max-width: 768px) {
	header {
		flex-wrap: wrap;
		justify-content: center;
	}

	.header-logo {
		margin-bottom: 10px;
	}

	.header-nav ul li {
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.header-phone,
	.header-social-icons {
		margin-left: 0;
		margin-top: 10px;
		text-align: center;
	}

	.header-phone {
		margin-bottom: 10px;
	}
}

/* Footer */
footer {
	color: white;
	background-color: #303030;
	text-align: center;
	padding: 100px 320px;
}

.footer-container {
	display: flex;
	justify-content: space-between;
}

.footer-company-name {
	font-size: 24px;
	font-weight: bold;
}

.footer-nav {
	margin: 0 190px;
}

.footer-nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
}

.footer-nav li {
	margin-right: 50px;
}

.footer-nav li:last-child {
	margin-right: 0px;
}

.footer-nav li a {
	text-decoration: none;
	color: white;
}

.footer-contact-social {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-phone {
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 15px;
}

.footer-social-icons {
	display: flex;
	margin-left: auto;
	/* justify-content: center; */
}

.footer-social-icons a {
	/* margin: 0 5px; */
}

.footer-social-icons img {
	width: 30px;
	height: 30px;
}

.footer-protectText {
	margin-top: 55px;
	font-size: 16px;
	font-weight: 400;
}

@media (max-width: 1830px) {
	footer {
		padding: 100px 280px;
	}
}

@media (max-width: 1750px) {
	.footer-nav {
		margin: 0;
	}
}

@media (max-width: 1440px) {
	footer {
		padding: 100px 100px;
	}
}

.hideArticle {
	display: none;
}
/* ================================================================================ */
